.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.control-panel{
    top: 0;
    width: 20%;
    height: 80%;
    border: solid 1px black;
    display: inline-block;
    position: absolute;
}

.main{
    top: 0;
    left:20%;
    width: 80%;
    height: 80%;
    border: solid 1px black;
    display: inline-block;
    position: absolute;
}

/*.viewport {*/
    /*background-color: #000;*/
    /*width: 600px;*/
    /*height: 600px;*/
    /*border: 1px solid black;*/
    /*margin: 100px;*/
    /*padding: 0px;*/
    /*position: static; *//* fixed or static */
    /*top: 100px;*/
    /*left: 100px;*/
/*}*/

.bottom{
    top: 80%;
    width: 100%;
    height: 80%;
    border: solid 1px black;
    position: absolute;
}

.control-panel__select{
    width: 100%;
    display: block;
}

.control-panel__button{
    width: 100%;
    display: block;
}